<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">




{% extends 'base.html' %}

{% block content %}
  <h5>S'enregistrer</h5>



  <form method="post">
    <label for="username">Adresse mail</label>
    <input name="username" id="username" required>
    <label for="password">Mot-de-passe</label>
    <input type="password" name="password" id="password" required>
    <label for="Datedenaissance">Date de naissance :</label>
    <input type="date" name="Datedenaissance" id="Datedenaissance" >
    <label for="Nom">Nom</label>
    <input type="Nom" name="Nom" id="Nom" required>
    <label for="Prenom">Prénom</label>
    <input type="Prenom" name="Prenom" id="Prenom" required>
    <input type="submit" class="btn" value="Register">
  </form>
{% endblock %}