

{% extends 'base.html' %}
<!-- à ajouter modification suivant type d'actif add-->
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier un actif</title>
    <!-- Ajoutez vos liens vers les fichiers CSS ici -->
</head>
<body>
    {% if {{ typeActif }} != "Cryptomonnaie" %}
        <h2>Modifier mon {{ typeActif }}</h2>
    {% else %}
        <h2>Modifier ma {{ typeActif }}</h2>
    {% endif %}

    <form action="{{ url_for('Statement.updateActif') }}" method="POST">
        <input type="hidden" name="actifId" value="{{ actif.id }}">
        <input type="hidden" name="typeActif" value="{{ typeActif }}">

        <!-- Supposons que 'actif' soit l'objet actif passé au template -->
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" value="{{ actif.Nom }}" required><br>

        <!-- Continuez avec les autres champs en fonction de votre modèle d'actif -->
        <!-- Par exemple, si l'actif a une propriété 'Valeur': -->
        <label for="valeur">Valeur :</label>
        <input type="text" id="valeur" name="valeur" value="{{ actif.Valeur }}" required><br>

        <!-- Assurez-vous de remplacer 'Nom', 'Valeur', etc. par les noms réels des champs de votre modèle d'actif -->

        <button type="submit">Modifier</button>
    </form>
</body>
{% endblock %}