{% extends 'base.html' %}

{% block content %}
<body>
  <h5>Mes informations</h5>
  
  <form id="modifyUserForm" action="{{ url_for('user.updateUser') }}" method="post">
    <label for="AdresseMail">Adresse mail</label>
    <input name="AdresseMail" id="AdresseMail" value="{{ g.user.AdresseMail }}" required>
    <label for="password">Mot-de-passe</label>
    <input type="password" name="password" id="password">
    <label for="DateNaissance">Date de naissance :</label>
    <input type="date" name="DateNaissance" id="DateNaissance" value="{{ g.user.DateNaissance }}">
    <label for="Nom">Nom</label>
    <input type="text" name="Nom" id="Nom" value="{{ g.user.Nom }}" required>
    <label for="Prenom">Prénom</label>
    <input type="text" name="Prenom" id="Prenom" value="{{ g.user.Prenom }}" required>
    <input type="submit" class="btn" value="Modifier">
  </form>
    
</body>
{% endblock %}