h1 {
    font-size: 36px; /* taille police*/
}

/* essaie d'alignage  */
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}



/* styles pour le titre MALLFUND */
h1#mallfund-title {
    margin: 20px 20px; /* marge */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* ombre au texte */
    font-family: 'Helvetica', sans-serif; /* police */
}

.welcome-box {
    max-width: 400px; /* largeur maximale du rectangle */
    margin: 50px auto; /* Centre le rectangle */
    padding: 20px; /* espace intérieur au rectangle */
    background-color: #fff; /* fond rectangle */
    border: 1px solid #ddd; /*bordure rectangle */
    border-radius: 10px; /* Arrondi les angles */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*  ombre au rectangle */
    text-align: center; /*centre le etxt*/
}
/* Reste du CSS...  */
body {
    background-color: rgb(255, 255, 255);
}


/*bouton*/

.button-box {
    max-width: 400px; /* largeur maximale de la section  */
    margin: 30px auto; /* Centre section  */
    display: flex;
    align-items: center;
    text-align: center; /* Centre txt boutons  */
    justify-content: space-between;
}

/* styles boutons */
.btn {
    display: inline-block; /* essaie pour les aligner */
    margin: 0 10px; /* espace les boutons */
    padding: 20px; /* marge interne aux boutons */
    background-color: #333; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    border: none; /* Supprime les bords des boutons */
    border-radius: 4px; /* Arrondi les angles */
    cursor: pointer;
}

/* Ajoutez un style d'ombre aux boutons */
.btn:hover {
    background-color: #555;
}

/* Autres styles... */

/* essaie d' aligner horizontalement les éléments dans header-nav et button-box */


.button-box2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.button-box2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* aligne ? */
}

.button-box2 li {
    margin-right: 10px;
    display: flex;
}

/* style btn2 */
.btn2 {
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #333;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
}

.btn2:hover {
    background-color: #eee;
}


.display-box {
    max-width: 300px; /* largeur maximale du rectangle */
    margin: 50px auto; /* Centre le rectangle */
    padding: 20px; /* espace intérieur au rectangle */
    background-color: #fff; /* fond rectangle */
    border: 1px solid #ddd; /*bordure rectangle */
    border-radius: 10px; /* Arrondi les angles */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*  ombre au rectangle */
    text-align: center; /*centre le etxt*/
}


.side-menu {
    max-width: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    position: fixed;
    top: 150px;
    left: 30px;
    background-color: #333;
    color: white;
    border: 1px solid #ddd; /* Bordure du side menu */
    border-radius: 10px; /* Arrondi les angles du side menu */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajoute une ombre légère au side menu */
    display: flex; /* Affiche les éléments en tant que flex container */
    flex-direction: column; /* Empile les éléments verticalement */
    align-items: flex-start; /* Aligne les éléments à gauche */
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu a {
    text-decoration: none;
    color: white;
    padding: 15px 10px;

}

.side-menu a:hover {
    background-color: #555;
}

.button-boxside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
}

.button-boxside ul {
    list-style: none;
    padding: 5px;
    margin: 5px;
    /*display: flex;  aligne ? */
}

.button-boxside li {
    margin-right: 10px;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* style btn2 */
.btnside {
    padding: 15px 15px;
    border: 1px solid #333;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    font-family: 'Helvetica', sans-serif;
}

.btnside:hover {
    background-color: #eee;
}


.content {
    margin-left: 250px; /* Ajustez la marge gauche pour laisser de la place au menu */
    padding: 20px;
}