


<!--A compléter au dessus -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajout d'un nouvel actif</title>
</head>
<body>
    <h1>Séléctionnez un type d'actif à ajouter</h1>
    <form method="post" action="{{ url_for('Add Type.choose_type') }}">
        <button type="submit" name="Action" value="type1">Type 1</button>
        <button type="submit" name="Appartement" value="type2">Type 2</button>
        <button type="submit" name="Compte" value="type3">Type 3</button>
        <button type="submit" name="Cryptomonnaie" value="type4">Type 4</button>
        <button type="submit" name="Immeuble" value="type5">Type 5</button>
        <button type="submit" name="Obligation" value="type6">Type 6</button>    </form>
</body>
</html>
