

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}MALLFUND - {% endblock %}Template de base Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav class="header-nav">
        <h1 id="mallfund-title">MALLFUND</h1>
        
        <section class="button-box">
            <ul>
            {% if g.user %}
                <li><span>{{ g.user['username'] }}</span>
                <li><a href="{{ url_for('auth.logout') }}" class="btn2">Log Out</a></li>
                <li><a href="{{url_for('user.show_profile')}}" class="btn2">Show profile</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.register') }}" class="btn2">Register</a></li>
                <li><a href="{{ url_for('auth.login') }}" class="btn2">Log In</a></li>
            {% endif %}    
            </ul>
        </section>
    </nav>

    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        {% block content %}{% endblock %}
    </section>

    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>
