

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}MALLFUND - {% endblock %}Template de base Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    

    <nav class="header-nav">
        <h1 id="mallfund-title">FOUNDMALL</h1>
        
        <section class="button-box2">
            <ul>
            {% if g.user %}
                <li><span>{{ g.user['username'] }}</span>
                <li><a href="{{ url_for('auth.logout') }}" class="btn2">Déconnexion</a></li>
                <li><a href="{{url_for('user.show_profile')}}" class="btn2">Profil</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.register') }}" class="btn2">S'enregistrer</a></li>
                <li><a href="{{ url_for('auth.login') }}" class="btn2">Se connecter</a></li>
            {% endif %}    
            </ul>
        </section>
    </nav>

    
    
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        {% block content %}{% endblock %}
    </section>

    <nav class="side-menu">
        <section class="button-boxside">
            <ul>
            {% if g.user %}
                <li><a href="{{ url_for('home.home_page') }}">Accueil</a></li>
                <li><a href="{{ url_for('AddType.Choose_type') }}">Ajouter un Actif</a></li>
                <li><a href="{{ url_for('Statement.defhometabel') }}">Mes Actifs</a></li>
                <li><a href="{{ url_for('user.show_profile') }}">Profil</a></li>
            {% else %}
                <li><a href="{{ url_for('home.landing_page') }}">Accueil</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">à propos</a></li>
            {% endif %}
            </ul>
        </section>
    </nav>
    
    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>
